.red_bg {
   background-color: red !important;
}
.x-grid3-row-red {
    background-color: #FDA6B5 !important;
    background-image: none;
    border-color: #D90429;
}
.x-grid3-row-grey {
    background-color: #BBA6A5 !important;
    background-image: none;
    border-color: #A30429;
}
