@charset "utf-8";
/* CSS Document */

body{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#cedff5;}
*{
	padding:0px;
	margin:0px;}
	
.fl{
	float:left;}
.fr{
	float:right;}

.clr{
	clear:both;}
	
#container{

	margin:auto;
	}
	
.caption{
	font-size:20px;
	font-weight:bold;
	background:#c2d6f0;
	padding:10px 40px 10px 40px;
	color:#FFFFFF;
	background:#444;
	border-bottom:solid 1px #fff;
	margin-bottom:20px;}

.form_row{
	padding-top:15px;
	font-size:14px;}

.form_row .col_left{
	float:left;
	width:250px;
	text-align:right;
	padding-right:15px;
	margin-top:5px;}
.form_row .col_right{
	float:left;
	width:900px;}
.back{
	color:#cf3131;
	text-decoration:none;
	background:url(../images/back.png) no-repeat;
	padding-left:23px;
	padding-bottom:5px;}
.next{
	color:#cf3131;
	text-decoration:none;
	background:url(../images/next.png) no-repeat;
	padding-right:23px;
	padding-bottom:5px;
	background-position:right;
	padding-top:3px;}
.form_row .col_right .fl{
	margin-right:10px;}


.text_bar{
	width:200px;
	height:25px;
	border:solid 1px #8db2e3;
	-moz-border-radius:3px;
	border-radius:3px;}
.select_bar{
	width:200px;
	height:27px;
	border:solid 1px #8db2e3;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:3px;}
.button{
	background:#666;
	padding:6px 10px;
	text-decoration:none;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;}
.button:hover{
	background:#990000;}
.button_2{
	background:#ccc;
	padding:6px 10px;
	text-decoration:none;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#000;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
.button_2:hover{
	background:#fff;}
.button_3{
	background:#5a91aa;
	padding:6px 10px;
	text-decoration:none;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#fff;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
.button_3:hover{
background:#990000;}
.descriotion{
	width:950px;
	padding-left:42px;
	font-size:14px;
	color:#666;
	padding-top:10px;}
.error_message{
	width:500px;
	font-size:12px;
	color:red;
	padding-top:5px;}
.signup_box{
	background: none repeat scroll 0 0 #444444;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-radius: 0 0 3px 0;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    margin-left: 830px;
    margin-top: -21px;
    padding: 10px;
    width: 250px;}
.login_row{
	padding-top:5px;
	font-size:12px;}
.login_row .col_left{
	float:left;
	width:85px;
	padding-right:10px;
	text-align:right;
	margin-top:2px;}
.login_row .col_right{
	float:left;
	width:155px;}
.login_button_col_3{
	margin-top:5px;
	float:right;}
.login_button_col_1{
	float:left;
	margin-top:5px;}
.login_button_col_2{
	margin-top:5px;
	float:left;}
table.user_table{
	text-align:center;
	vertical-align:middle;
	width:900px;
	margin-left:30px;}
table.user_table tr td{
	padding-top:7px;}
table.user_table tr td .fl{
	margin-right:10px;}
.gap{
	margin-top:5px;}