
<%= javascript_include_tag "partials","teamspace", "inbox","organize","action","dashboard", "admin", "app"%>
<div id="mainDiv">
</div>

<div id="hello-win"   class="x-hidden"></div>
<div id="user-window" class="x-hidden"></div>
<div id="team-window" class="x-hidden"></div>
<div id="new-team-window" class="x-hidden"></div>
<div id="edit-team-window" class="x-hidden"></div>
<div id="delete-team-window" class="x-hidden"></div>
<div id="team-task-window" class="x-hidden"></div>
<div id="catagory-window" class="x-hidden"></div>
<div id="new_catagory-window" class="x-hidden"></div>
